* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Rasa', serif;
  font-family: 'Spectral', serif;
}

/*=============================Desktop================================*/
@media screen and (min-width: 40rem) {
  .new-arrivals {
    display: block;
    text-align: center;
    width: 100%;
  }
  .new-arrivals h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    border-bottom: 2px solid #BFB2AB;
  }
  .new-arrivals .wrap_new-arrivals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 7.1%;
    margin: 6.5%;
  }
  .new-arrivals .wrap_new-arrivals .watch {
    margin-bottom: 100px;
  }
  .new-arrivals .wrap_new-arrivals .watch .image {
    width: 350px;
    height: 350px;
    border: 1px solid #BFB2AB;
  }
  .new-arrivals .wrap_new-arrivals .watch .image .citizen-jewery {
    width: 350px;
    height: 350px;
  }
  .new-arrivals .wrap_new-arrivals .watch .image .mido-silvergold {
    height: 350px;
  }
  .new-arrivals .wrap_new-arrivals .watch .image .rado-gold {
    height: 350px;
  }
  .new-arrivals .wrap_new-arrivals .watch .upcoming {
    width: 350px;
    height: 350px;
    border: 1px solid #BFB2AB;
  }
  .new-arrivals .wrap_new-arrivals .watch .details .company {
    font-size: 20px;
    width: 350px;
    height: 25px;
  }
  .new-arrivals .wrap_new-arrivals .watch .details .name {
    font-size: 18px;
    width: 350px;
    height: 80px;
  }
  .new-arrivals .wrap_new-arrivals .watch .details .price {
    font-size: 18px;
    width: 350px;
    height: 23px;
  }
  .new-arrivals .wrap_new-arrivals .watch .button {
    margin-top: 10px;
    gap: 10px;
  }
  .new-arrivals .wrap_new-arrivals .watch .button .addToCart {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 5px;
    margin: 10px;
  }
  .new-arrivals .wrap_new-arrivals .watch .button .addToCart:hover {
    opacity: 0.7;
  }
  .new-arrivals .wrap_new-arrivals .watch .button .buyNow {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 23px;
    border-radius: 5px;
    margin: 10px;
  }
  .new-arrivals .wrap_new-arrivals .watch .button .buyNow:hover {
    background-color: #ffffff;
    color: #BFB2AB;
    border: 2px solid #BFB2AB;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .best-collections {
    display: block;
    text-align: center;
    width: 100%;
  }
  .best-collections h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    border-bottom: 2px solid #BFB2AB;
  }
  .best-collections .wrap_best-collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 7.1%;
    margin: 6.5%;
  }
  .best-collections .wrap_best-collections .watch {
    margin-bottom: 100px;
  }
  .best-collections .wrap_best-collections .watch .image {
    width: 350px;
    height: 350px;
    border: 1px solid #BFB2AB;
  }
  .best-collections .wrap_best-collections .watch .image .robhayes-gold {
    height: 350px;
  }
  .best-collections .wrap_best-collections .watch .image .wristrogy-gold {
    height: 350px;
  }
  .best-collections .wrap_best-collections .watch .image .benson-pinkgold {
    margin: 10px 10px;
    height: 325px;
  }
  .best-collections .wrap_best-collections .watch .image .mido-silvergold2 {
    height: 350px;
  }
  .best-collections .wrap_best-collections .watch .upcoming {
    width: 350px;
    height: 350px;
    border: 1px solid #BFB2AB;
  }
  .best-collections .wrap_best-collections .watch .details .company {
    font-size: 20px;
    width: 350px;
    height: 25px;
  }
  .best-collections .wrap_best-collections .watch .details .name {
    font-size: 18px;
    width: 350px;
    height: 80px;
  }
  .best-collections .wrap_best-collections .watch .details .price {
    font-size: 18px;
    width: 350px;
    height: 23px;
  }
  .best-collections .wrap_best-collections .watch .button {
    margin-top: 10px;
    gap: 10px;
  }
  .best-collections .wrap_best-collections .watch .button .addToCart {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 5px;
    margin: 10px;
  }
  .best-collections .wrap_best-collections .watch .button .addToCart:hover {
    opacity: 0.7;
  }
  .best-collections .wrap_best-collections .watch .button .buyNow {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 23px;
    border-radius: 5px;
    margin: 10px;
  }
  .best-collections .wrap_best-collections .watch .button .buyNow:hover {
    background-color: #ffffff;
    color: #BFB2AB;
    border: 2px solid #BFB2AB;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 39, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: 99;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #overlay .modal-cart {
    height: 70%;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    background-color: #ffffff;
  }
  #overlay .modal-cart .close-modal {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 40px;
    font-weight: lighter;
  }
  #overlay .modal-cart .your-cart {
    font-size: 34px;
    color: #ffffff;
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top: 25px;
    background-color: #BFB2AB;
  }
  #overlay .modal-cart .inside-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 7.5%;
  }
  #overlay .modal-cart .inside-cart .modal-image {
    width: 320px;
    height: 320px;
    border: 1px solid #BFB2AB;
  }
  #overlay .modal-cart .inside-cart .modal-image .modal-watch-image {
    height: 320px;
  }
  #overlay .modal-cart .inside-cart .details-cart {
    display: block;
    width: 40%;
  }
  #overlay .modal-cart .inside-cart .details-cart .watch-company {
    font-size: 20px;
  }
  #overlay .modal-cart .inside-cart .details-cart .watch-name {
    font-size: 18px;
  }
  #overlay .modal-cart .inside-cart .details-cart .watch-price {
    text-align: end;
    font-size: 18px;
    margin-right: 30px;
  }
  #overlay .modal-cart .inside-cart .details-cart .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  #overlay .modal-cart .inside-cart .details-cart .quantity h3 {
    font-size: 18px;
    font-weight: bolder;
  }
  #overlay .modal-cart .inside-cart .details-cart .quantity #watch-quantity {
    margin-top: 20px;
    width: 50px;
    height: 25px;
    border: 1px solid #BFB2AB;
  }
  #overlay .modal-cart .inside-cart .details-cart .total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  #overlay .modal-cart .inside-cart .details-cart .total h3 {
    font-size: 18px;
    font-weight: bolder;
  }
  #overlay .modal-cart .inside-cart .details-cart .total span {
    margin-top: 20px;
  }
  #overlay .modal-cart .inside-cart .details-cart .total span .total-price {
    padding: 0 10px;
    border: 1px solid #BFB2AB;
  }
  #overlay .modal-cart .inside-cart .details-cart .button-total {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #overlay .modal-cart .inside-cart .details-cart .button-total .lookMore-total {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 5px;
    margin: 10px;
  }
  #overlay .modal-cart .inside-cart .details-cart .button-total .lookMore-total:hover {
    opacity: 0.7;
  }
  #overlay .modal-cart .inside-cart .details-cart .button-total .buyNow-total {
    font-size: 20px;
    background-color: #BFB2AB;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 3px 23px;
    border-radius: 5px;
    margin: 10px;
  }
  #overlay .modal-cart .inside-cart .details-cart .button-total .buyNow-total:hover {
    background-color: #ffffff;
    color: #BFB2AB;
    border: 2px solid #BFB2AB;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */