$cWhite: #ffffff;
$cBrown: #BFB2AB;
$cBlack: #000000;

*{
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Rasa', serif;
  font-family: 'Spectral', serif;
}

/*=============================Desktop================================*/

@media screen and (min-width: 40rem){

  .new-arrivals{
    display: block;
    text-align: center;
    width: 100%;
    
    & h1{
      text-align: center;
      font-size: 40px;
      width: 100%;
      border-bottom: 2px solid $cBrown;
    }

    & .wrap_new-arrivals{
      display: flex;
      flex-wrap: wrap;
      gap: 7.1%;
      margin: 6.5%;

      & .watch{
        margin-bottom: 100px;
        
        & .image{
          width: 350px;
          height: 350px;
          border: 1px solid $cBrown;

          & .citizen-jewery{
            width: 350px;
            height: 350px;
          }

          
          & .mido-silvergold{
            height: 350px;
          }

          & .rado-gold{
            height: 350px;
          }
        }

        & .upcoming{
          width: 350px;
          height: 350px;
          border: 1px solid $cBrown;
        }
        
        & .details{
          
            & .company{
              font-size: 20px;
              width: 350px;
              height: 25px;
            }

            & .name{
              font-size: 18px;
              width: 350px;
              height: 80px;
            }

            & .price{
              font-size: 18px;
              width: 350px;
              height: 23px;
            }
          }

          & .button{
            margin-top: 10px;
            gap: 10px;

            & .addToCart{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 15px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                opacity: 0.7;
              }
            }
            
            & .buyNow{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 23px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                background-color: $cWhite;
                color: $cBrown;
                border: 2px solid $cBrown;
                transition: ease-in-out 0.3s;
              }
            }
          }

      }

    }
  }

  .best-collections{
    display: block;
    text-align: center;
    width: 100%;

    & h1{
      text-align: center;
      font-size: 40px;
      width: 100%;
      border-bottom: 2px solid $cBrown;
    }

    & .wrap_best-collections{
      display: flex;
      flex-wrap: wrap;
      gap: 7.1%;
      margin: 6.5%;

      & .watch{
        margin-bottom: 100px;
        
        & .image{
          width: 350px;
          height: 350px;
          border: 1px solid $cBrown;

          & .robhayes-gold{
            height: 350px;
          }

          
          & .wristrogy-gold{
            height: 350px;
          }

          & .benson-pinkgold{
            margin: 10px 10px;
            height: 325px;
          }

          & .mido-silvergold2{
            height: 350px;
          }
        }

        & .upcoming{
          width: 350px;
          height: 350px;
          border: 1px solid $cBrown;
        }
        
        & .details{
          
            & .company{
              font-size: 20px;
              width: 350px;
              height: 25px;
            }

            & .name{
              font-size: 18px;
              width: 350px;
              height: 80px;
            }

            & .price{
              font-size: 18px;
              width: 350px;
              height: 23px;
            }
          }

          & .button{
            margin-top: 10px;
            gap: 10px;

            & .addToCart{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 15px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                opacity: 0.7;
              }
            }
            
            & .buyNow{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 23px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                background-color: $cWhite;
                color: $cBrown;
                border: 2px solid $cBrown;
                transition: ease-in-out 0.3s;
              }
            }
          }
      }
    }
  }

  #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 39, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.5s;

    & .modal-cart{
      height: 70%;
      width: 60%;
      margin: 0 auto;
      position: relative;
      top: 15%;
      background-color: $cWhite;

      & .close-modal{
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 40px;
        font-weight: lighter;
      }

      & .your-cart{
        font-size: 34px;
        color: $cWhite;
        text-align: center;
        height: 100px;
        width: 100%;
        padding-top: 25px;
        background-color: $cBrown;
      }

      & .inside-cart{
        display: flex;
        justify-content: space-evenly;
        margin-top: 7.5%;

        & .modal-image{
          width: 320px;
          height: 320px;
          border: 1px solid $cBrown;

          & .modal-watch-image{
            height: 320px;
          }
        }

        & .details-cart{
          display: block;
          width: 40%;

          & .watch-company{
            font-size: 20px;
          }

          & .watch-name{
            font-size: 18px;
          }

          & .watch-price{
            text-align: end;
            font-size: 18px;
            margin-right: 30px;
          }

          & .quantity{
            display: flex;
            gap: 20px;

            & h3{
              font-size: 18px;
              font-weight: bolder;
            }

            & #watch-quantity{
              margin-top: 20px;
              width: 50px;
              height: 25px;
              border: 1px solid $cBrown;
            }
          }

          & .total{
            display: flex;
            gap: 20px;

            & h3{
              font-size: 18px;
              font-weight: bolder;
            }

            & span{
              margin-top: 20px;

              & .total-price{
                padding: 0 10px;
                border: 1px solid $cBrown;
              }
            }
          }

          & .button-total{
            width: 100%;
            display: flex;
            justify-content: space-between;

            & .lookMore-total{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 15px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                opacity: 0.7;
              }
            }

            & .buyNow-total{
              font-size: 20px;
              background-color: $cBrown;
              border: none;
              outline: none;
              color: $cWhite;
              padding: 3px 23px;
              border-radius: 5px;
              margin: 10px;

              &:hover{
                  background-color: $cWhite;
                  color: $cBrown;
                  border: 2px solid $cBrown;
                  transition: ease-in-out 0.3s;
              }
            }

          }

        }

      }

    }

  }

  .hidden{
    visibility: hidden;
    opacity: 0;
  }



}
